$gris: #CED0CE;
@font-face {
    font-family: Lequire DEMO;
    src: url('/src/assets/fonts/Lequire.otf');
}

header {
   @apply h-20 grid grid-cols-5 fixed w-full top-0 z-50;
    background: $gris;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.55);
    
    figure{
        @apply col-span-3 flex items-center;
        
        img {
            @apply inline-block max-w-none;
            max-height: 5rem; 
        }
        
        figcaption {
            @apply inline-block;
            
            span {
                @apply block text-2xl;
                font-family: Lequire DEMO;
            }
        }
    }
}